<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxianglw.mapper.SysPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yuxianglw.entity.SysPermission">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="REMARK" property="remark" />
        <result column="DEL_FLAG" property="delFlag" />
        <result column="REVISION" property="revision" />
        <result column="CREATED_BY" property="createdBy" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_BY" property="updatedBy" />
        <result column="UPDATED_TIME" property="updatedTime" />
    </resultMap>

    <select id="queryPermissionByRoleIds" resultType="com.yuxianglw.entity.SysPermission" parameterType="list">
        SELECT S1.* FROM SYS_PERMISSION S1 LEFT JOIN SYS_ROLE_PERMISSION S2 ON S1.ID = S2.ROLE_ID
        WHERE  S2.ROLE_ID IN
        <foreach  item="item" collection="roleIds" index="index"  open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
