<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxianglw.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yuxianglw.entity.SysRole">
        <id column="ID" property="id" />
        <result column="ROLE_NAME" property="roleName" />
        <result column="ROLE_CODE" property="roleCode" />
        <result column="DESCRIPTION" property="description" />
        <result column="DEL_FLAG" property="delFlag" />
        <result column="REVISION" property="revision" />
        <result column="CREATED_BY" property="createdBy" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_BY" property="updatedBy" />
        <result column="UPDATED_TIME" property="updatedTime" />
    </resultMap>

    <!--  查询出用户存在的角色  -->
    <select id="queryRoleByUserId" resultType="com.yuxianglw.entity.SysRole" parameterType="string">
            SELECT S1.* FROM SYS_ROLE S1 LEFT JOIN SYS_USER_ROLE S2 ON S1.ID = S2.ROLE_ID
            WHERE S2.DEL_FLAG='0' AND S1.DEL_FLAG='0' AND S2.USER_ID = #{userId}
    </select>

    <!--  查询出用户不存在的角色  -->
    <select id="queryRolesThatDoNotExistForUsers" resultType="com.yuxianglw.entity.SysRole">
        SELECT S1.* FROM SYS_ROLE S1 LEFT JOIN SYS_USER_ROLE S2 ON S1.ID = S2.ROLE_ID
        WHERE S2.DEL_FLAG='0' AND S1.DEL_FLAG='0' AND S2.USER_ID != #{userId}
    </select>

</mapper>
