<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxianglw.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yuxianglw.entity.SysUser">
        <id column="ID" property="id" />
        <result column="USER_NAME" property="userName" />
        <result column="REAL_NAME" property="realName" />
        <result column="PASS_WORD" property="passWord" />
        <result column="SALT" property="salt" />
        <result column="AVATAR" property="avatar" />
        <result column="SEX" property="sex" />
        <result column="PHONE" property="phone" />
        <result column="EMAIL" property="email" />
        <result column="SUPERIOR_ID" property="superiorId" />
        <result column="STATUS" property="status" />
        <result column="DEL_FLAG" property="delFlag" />
        <result column="REVISION" property="revision" />
        <result column="CREATED_BY" property="createdBy" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_BY" property="updatedBy" />
        <result column="UPDATED_TIME" property="updatedTime" />
    </resultMap>

    <select id="selectUserByName" resultType="com.yuxianglw.entity.SysUser">
        SELECT * FROM SYS_USER S1 WHERE S1.DEL_FLAG = '0' AND  S1.USER_NAME = #{username}
    </select>

</mapper>
